*{
    padding: 0;
    margin: 0;

}

.flex{
    display: flex;
}
.alignItem{
    align-items: center;
}
.justifyContent{
    justify-content: center;
}

body{
    background-color: black;
    color: white;
    font-family: monospace;

}

.nav{
    padding: 20px 20px 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo{
    width: 230px;
}
.nav ul{
    display: flex;
    gap: 56px;
}
.nav ul li{
    list-style: none;
    font-size: 16px;
}

.nav ul li,.login,.btn:hover{
    cursor: pointer;
}

.btn{
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: bold;
}

.btn:hover
{
    background-color: rgb(171, 171, 171);
}


.user{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.login{
    font-size: 18px;
}
.btn{
    padding: 12px 10px;
}


.container{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.midSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.midSection h1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midSection span
{
    font-size: 35px;
    background-color: brown;
    border-radius: 50px;
    margin: 0px 20px;
    padding: 15px 15px;
}

.leftImg{
    width: 180px;
    border-radius: 8px;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 30px;
}
.rightImg{
    width: 150px;
    border-radius: 8px;
    height: 250px;
    position: absolute;
    right: 50px;
    bottom: 100px;

}

.scrollDown{
    width: 100vw;
    position: absolute;
    bottom:40px;
    text-align: center;
}
